Klica/Content/obj/DesktopGL/win.mgcontent
Klica/Content/obj/DesktopGL/SpriteInfo.mgcontent
*.mgcontent
Klica/Content/obj/DesktopGL/.mgstats
Klica/obj/Debug/net8.0/Klica.AssemblyInfo.cs
Klica/obj/Debug/net8.0/Klica.AssemblyInfoInputs.cache
